.loadingScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(255,255,255,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.error {
  color: rgb(145, 12, 12);
}

.retryButton {
  display: block;
}